<!DOCTYPE html>
<html>
<head >
	<title>
	</title>
    <script type="text/javascript" src="/estatico/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src ="/estatico/js/form.js"></script>
</head>
<body>
<!-- 
	Ser voluntario
	Nombre :
	<input type="text" id="nombre">
	Direccion
	<input type="text" id="direccion">
	Telefono:
	<input type="text" id="telefono">
	Email:
	<input type="text" name="email">
	Tipo:
	<select id="tipo">
		<option >
			Contestando teléfonos
		</option>
		<option>	
			Embolsando alimento
		</option>
		<option>
			Distribuir despensas a las comunidades
		</option>
	</select> -->


	Abrir un Comedor:

	Nombre :
	<input type="text" id="nombre_a">
	Ubicación
	<input type="text" id="ubicacion">
	Dirección
	<input type="text" id="direccion_a">
	Horario de atención:
	<input type="text" id="horario">
	<hr>

	Encargado :

	Nombre :
	<input type="text" id="nombre">
	Direccion
	<input type="text" id="direccion">
	Telefono:
	<input type="text" id="telefono">
	Email:
	<input type="text" id="email">
	<a href="" id="send1">enviar</a>

<!-- 
	Abrir un Centro de acopio

	Nombre :
	<input type="text" id="nombre_a">
	Ubicación
	<input type="text" id="ubicacion">
	Dirección
	<input type="text" id="direccion_a">
	Horario de atención:
	<input type="text" id="horario">
	<hr>

	Encargado :

	Nombre :
	<input type="text" id="nombre">
	Direccion
	<input type="text" id="direccion">
	Telefono:
	<input type="text" id="telefono">
	Email:
	<input type="text" name="email"> -->

	

</body>
</html>