<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <style>
       html, body {
        height: 50%;
        margin: 0;             
        padding: 0;
      }
      #map {
        height: 75vh;
      }
      .scroll-section {overflow-x: scroll;}
    
    h1{
      color: white;
    }
    #uno{
       background-image: url("assets/img/slider-bg.jpg");
    }
    </style>
    <script type="text/javascript" src="/estatico/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/estatico/js/mapformpoints.js"></script>
  </head>
  <body>
 
            <div id="map" align="center"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVFkkhjKJsK4qS1MM0YkH5B0xx9DlLBYM&callback=initMap"
        async defer></script>
       
  </body>
</html>